.home-container {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    position: relative;
}

body {
    background-color: white;
}

.logo {
    height: auto;
    position: relative;
    width: 100px;
    margin-left: 10px;
}

.logo-container {
    position: relative;
}

.image-container {
    margin-top: 210px;
}

.highlighted-text {
    color: #9F00E5;
}

.image {
    width: 750px;

    border-radius: 10px;
    margin-right: 150px;
}

.home-header-title {
    font-size: 3rem;
    color: #0D08BA;
    font-weight: bold;
    text-align: left;
    margin-right: 150px;
}

.home-header-subtitle {
    font-size: 3rem;
    color: #0D08BA;
    text-align: left;
    margin-left: 5px;
}

.text {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #080707;
    margin-bottom: 20px;
    margin-top: 80px;
    margin-right: 10px;
}

.start-learning-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-learning-button:hover {
    background-color: #0056b3;
}
