.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


body{
    background-color: white;
}

.image-container{
    margin-right: 20px;
}

.image{
   width: 650px;
   height: auto;
   border-radius: 10px;
}

.home-header-title {
    font-size: 2.5rem;
    color: #0D08BA ;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .home-header-subtitle {
    font-size: 2rem;
    color: #9F00E5;
    text-align: center;
    margin-bottom: 20px;
  }

p{
    font-size: 16px;
    line-height:1.5;
    color: #080707;
    margin-bottom: 20px;
}

.tidbit-logo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: auto;
}

.start-learning-button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color:#007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.start-learning-button:hover{
    background-color: #0056b3;
}